In [1]:
import pandas as pd

In [2]:
import io

In [3]:
csv_data = open(r'Data/10876.23andme.8989.csv').read().replace('\r\n', '\n')

In [4]:
df = pd.read_csv(io.StringIO(csv_data),  sep='\t',  lineterminator='\n', low_memory=False)

In [5]:
df.head()

          rsid chromosome  position genotype
0  rs548049170          1     69869       TT
1   rs13328684          1     74792       --
2    rs9283150          1    565508       AA
3      i713426          1    726912       --
4  rs116587930          1    727841       GG

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638463 entries, 0 to 638462
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   rsid        638463 non-null  object
 1   chromosome  638463 non-null  object
 2   position    638463 non-null  int64
 3   genotype    638463 non-null  object
dtypes: int64(1), object(3)
memory usage: 19.5+ MB

номер 1

In [6]:
df.loc[df['rsid'] == 'rs12913832']

              rsid chromosome  position genotype
491719  rs12913832         15  28365618       AG

In [7]:
df.loc[df['rsid'] == 'rs1800407']

             rsid chromosome  position genotype
491679  rs1800407         15  28230318       CC

In [8]:
df.loc[df['rsid'] == 'rs12896399']

              rsid chromosome  position genotype
486530  rs12896399         14  92773663       GT

In [9]:
df.loc[df['rsid'] == 'rs16891982']

              rsid chromosome  position genotype
191616  rs16891982          5  33951693       GG

In [10]:
df.loc[df['rsid'] == 'rs1393350']

             rsid chromosome  position genotype
407319  rs1393350         11  89011046       AA

In [11]:
df.loc[df['rsid'] == 'rs12203592']

              rsid chromosome  position genotype
220862  rs12203592          6    396321       CC

![Title](PicturesForMainor/pic12.jpg)

Получаем, что у человека скорее всего карие глаза

номер 2

In [107]:
df.loc[df['rsid'] == 'rs6025']

         rsid chromosome   position genotype
31724  rs6025          1  169519049       CC

![Title](PicturesForMainor/pic8.jpg)

У человека вообще СС -> GG(принцип комплементарности) -> т.е. этот генотип не показывает повышение риска к тромбозу

In [108]:
df.loc[df['rsid'] == 'rs1799963']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

А этого snp просто нет

In [109]:
df.loc[df['rsid'] == 'rs8176719']

             rsid chromosome   position genotype
355588  rs8176719          9  136132909       DI

![Title](PicturesForMainor/pic9.jpg)

DI -> не расматриваем (так сказал семинарист)

In [110]:
df.loc[df['rsid'] == 'rs2066865']

             rsid chromosome   position genotype
175096  rs2066865          4  155525276       AG

![Title](PicturesForMainor/pic10.jpg)

AG -> TC -> гетерозиготная форма полиморфизма, т.е может быть повышен риск к тромбозу судя по этому snp

In [115]:
df.loc[df['rsid'] == 'rs2036914']

             rsid chromosome   position genotype
182589  rs2036914          4  187192481       CT

![Title](PicturesForMainor/pic11.jpg)

Ну хоть что-то понятное. Получается, что этот генотип СТ говорит о том, что риск тромбоза выше в 1.16 раз чем у людей с генотипом СС, но генотип ТТ ещё выше риск тромбоза (в 1.32 чем у СС)

номер 3

In [112]:
df.loc[df['rsid'] == 'rs53576']

           rsid chromosome  position genotype
104213  rs53576          3   8804371       AA

![Title](PicturesForMainor/pic5.jpg)

rs53576 является молчаливым ответом на изменение в гене рецептора окситоцина (OXTR). Исследования показали, что люди с аллелем G более чутки, чувствуют себя менее одинокими, используют более чувствительные методы воспитания и имеют более низкие показатели аутизма

Получается, что у данного человека генотип АА, т.е отсутствие сочувствия :(

номер 4

In [113]:
df.loc[df['rsid'] == 'rs1333049']

             rsid chromosome  position genotype
337256  rs1333049          9  22125503       CC

![Title](PicturesForMainor/pic6.jpg)

в крупном исследовании сообщалось, что rs1333049 связан с заболеваниями сердца, в частности с ишемической болезнью сердца

И опять этому человечку неповезло, потому что у него генотип СС -> т.е в 1,9 раза повышенный риск развития ишемической болезни сердца

номер 5

In [114]:
df.loc[df['rsid'] == 'rs1799971']

             rsid chromosome   position genotype
260293  rs1799971          6  154360797       AA

![Title](PicturesForMainor/pic7.jpg)

Носители по крайней мере одного аллеля rs1799971(G), по-видимому, имеют более сильную тягу к алкоголю, чем носители двух аллелей rs1799971(A), и, таким образом, предполагается, что они подвергаются более высокому риску алкоголизма.

Ура, хоть тут удача, генотип АА у этого человека говорит о том, что у него невысокий риск алкоголизма